<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3fbce996-b89a-444d-9e2f-0c1f87a1c11a/resourcegroups/GradovWeatherAPI20230528191122ResourceGroup/providers/Microsoft.Web/sites/GradovWeatherAPI20230528191122</ResourceId>
    <ResourceGroup>GradovWeatherAPI20230528191122ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/3fbce996-b89a-444d-9e2f-0c1f87a1c11a/resourceGroups/GradovWeatherAPI20230528191122ResourceGroup/providers/Microsoft.ApiManagement/service/GradovWeatherAPIapi/apis/GradovWeatherAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gradovweatherapi20230528191122.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>15ef7653-db4f-4557-8d77-d63a5c64101b</ProjectGuid>
    <MSDeployServiceURL>gradovweatherapi20230528191122.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GradovWeatherAPI20230528191122</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$GradovWeatherAPI20230528191122</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>